.profileContainer {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #f9f9f9; */
    border-radius: 10px;
}

.Title {
    font-size: 36px;
    font-weight: bold;
    color: #555;
    padding: 20px 0;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.username {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: auto;
}

.editButton {
    font-size: 14px;
}

.summaryContainer, .orderStatusContainer {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.summaryItem, .orderStatusItem {
    text-align: center;
}

.summaryItem span, .orderStatusItem span {
    display: block;
    font-size: 16px;
}

.orderStatusItem span:first-child {
    color: #555;
    font-weight: bold;
}

.orderStatusItem span:last-child {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.points {
    color: #666;
    font-size: 16px;
}

.sectionTitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.sectionContainer {
    margin-top: 10px;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
}

.orderItem, .pointItem, .couponItem {
    margin-bottom: 15px;
}

.itemTitle {
    font-size: 24px;
    font-weight: bold;
}

.itemInfo {
    color: #333;
    margin-top: 5px;
}

.reviewButton {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.statusPending {
    color: orange;
}

.statusCompleted {
    color: green;
}

.statusCancelled {
    color: red;
}

.couponStatusUsed {
    color: gray;
}

.couponStatusUnused {
    color: green;
}

.userInfoContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.userDetails {
    margin-left: 10px;
}

.username {
    font-size: 20px;
    font-weight: bold;
}

.email {
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
}

.editButton {
    font-size: 14px;
    margin-top: 5px;
}

.summaryContainer {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.summaryItem {
    text-align: center;
    flex: 1;
}

.summaryValue {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}

.infoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userInfoContainer {
    display: flex;
    align-items: center;
}

.userDetails {
    margin-left: 10px;
}

.username {
    font-size: 20px;
    font-weight: bold;
}

.name {
    color: #333; 
    font-weight: bold; 
    font-size: 20px;
    padding-right: 10px;
}

.loginID {
    color: #777; 
    font-weight: normal; 
    font-size: 16px;
}

.editButton {
    margin-top: 15px;
    margin-left: 10px;
}

.summaryContainer {
    width: 60%;
    display: flex;
    gap: 20px;
    border: none;
}

.summaryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ddd;
    height: 50px;
}

.summaryItem:last-child {
    border-right: none;
}

.summaryValue {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
}

.orderStatusContainer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.orderStatusItem {
    text-align: center;
    flex: 1;
}

.arrow {
    font-size: 46px;
    color: #ddd; /* 화살표 색상 */
    margin: 0 0px; /* 화살표와 항목 간 간격 */
    display: flex;
    align-items: center;
}

.orderStatusItem span {
    margin: 10px;
}

.sectionTitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.sectionContainer {
    margin-top: 10px;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.orderItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.orderDetails {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 2;
}

.productImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.productInfo {
    display: flex;
    flex-direction: column;
}

.productName {
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.productPrice {
    color: #888;
    font-size: 14px;
    margin-left: 200px;
}

.orderQuantity {
    flex: 1;
    text-align: center;
    font-size: 14px;
}

.orderDate {
    flex: 2;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.orderStatus {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: green;
}

.reviewButton {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 500px;
    z-index: 1001;
}
