.swiperContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 640px;
}
.swiper {
    width: 100%;
    height: 100%;
}
.slideContent {
    text-align: center;
    margin-top: 20px;
}
