.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.productSection {
    display: flex;
    gap: 40px;
}

.imageSection {
    flex: 1;
}

.infoSection {
    flex: 1;
}

.productTitle {
    margin: 0;
    color: black;
}

.shippingButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
    background-color: white;
    cursor: pointer;
    margin-top: 40px;
    color: black;
    border: none;
}

.buttonGroup {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
    
    .productSection {
        flex-direction: column;
        gap: 20px;
    }

    .imageSection,
    .infoSection {
        width: 100%;
        flex: none;
    }

    /* 버튼을 가로로 나열하되, 각 버튼이 동일한 너비를 가지도록 수정 */
    .buttonGroup {
        flex-direction: row;
        width: 100%;
        gap: 5px; /* 모바일에서는 간격을 좀 더 좁게 */
    }
}