
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --button-color: #4098d7; /* 다크 모드용 버튼 색상 */
    --button-hover-color: #8cbbe3; /* 다크 모드용 버튼 호버 색상 */
  }
}

/* 기본 레이아웃 설정 */
html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 버튼 스타일 */
button {
  background-color: var(--button-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-color);
}

/* 레이아웃을 위한 컨테이너 설정 */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.content {
  margin-top: 120px; /* 헤더 높이에 맞춰 여백 설정 */
}


/* 다크 모드 지원 */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
