.reviewContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    text-align: left;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.reviewForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label {
    font-size: 14px;
    font-weight: bold;
    color: #444;
}

.ratingContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.starRating {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.star {
    font-size: 24px;
    color: #ccc;
    transition: color 0.2s;
}


.textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
}

.fileInput {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

.submitButton {
    background-color: #65CBE9;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #52a1b9;
}
